.header-top {
  background-color: black;

  .header-top-container {
    width: 70%;

    .header-top-content {
      padding: 0em 3em;
      float: right;

      .link-to-login {
        padding-right: 10px;
        text-decoration: none;
        color: white;
      }
      .link-to-register {
        border-left: 1px white solid;
        padding-left: 10px;
        text-decoration: none;
        color: white;
      }
      .btn-change-language {
        padding: 0 0 0 15;
        margin: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        .fragLang {
          height: auto;
        }
      }
    }
  }
}
.header-sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  border-bottom: 1px solid #ccc;
  .header-top-container {
    width: 90%;
    margin: 0em;
    font-size: larger;

    .second-header-content {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;

      .logo {
        background-image: url(/icon/frag/web-logo.png);
        height: 55px;
        width: 132px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // display: inline-block;
        margin: 15px 0px;
      }
      .dropdown-wrapper {
        display: flex;
        align-items: center;
      }
      ul,
      li {
        list-style: none; // bỏ dấu chấm
        margin: 0; // bỏ khoảng cách mặc định
        padding: 0; // bỏ padding mặc định
      }
      ul {
        display: flex;
        gap: 10px;
        font-size: medium;
        flex-wrap: wrap;
        text-overflow: ellipsis;
      }
      .navi-btn {
        height: 100%;
        border: none;
        background: none;
        font-weight: bold !important;
        font-size: 1.2 vw;
        color: #333;
      }
    }
  }
  @media (min-width: 768px) {
    .header-top-container {
      width: 75%; /* khi màn hình >= 768px thì chiếm 75% */
    }
  }
}
