@use "../../style/variables" as *;
@use "sass:color";

.ConfirmModal {
  .movie-name {
    text-align: center;
    width: 100%;
    border-bottom: solid 1px color.scale($text-in-light, $alpha: -90%);
    margin-top: 1em;
    text-align: center !important;

    p {
      text-align: center;
      font-size: xx-large;
      color: $colormain;
    }
  }

  .screening-info {
    border-bottom: solid 1px color.scale($text-in-light, $alpha: -90%);
    font-size: large;

    div {
      text-align: center;
      margin: 0px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    .small-title {
      width: 100%;
      padding: 20px 0px;
      border-bottom: solid 1px color.scale($text-in-light, $alpha: -80%);
    }

    .screening-info {
      background-color: $footer-container;
      font-weight: bold;
      font-size: x-large;
      padding-bottom: 1em;
      margin-bottom: 1em;
    }
  }
}

.custom-modal {
  max-width: 750px !important;
  width: 100% !important;
}

@media (max-width: 750px) {
  .screening-info {
    font-size: medium;

    .screening-info {
      font-size: large;
    }
  }
}

.ConfirmModal {
  .buy-ticket {
    width: 200px;
    max-width: 20%;
    height: 2em;
    padding: 0;
    margin-top: 3em;
    margin: auto;
    position: relative;

    background-image: linear-gradient(
      to right,
      $colormain 0%,
      color.scale($colormain, $lightness: 20%) 51%,
      color.scale($colormain, $lightness: 35%) 100%
    );

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-weight: bold;
    color: $common-white;

    .buy-ticket-icon {
      font-size: 50px;
      position: absolute;
      left: -8px;
      top: -11px;
      transform: rotate(-45deg);
      opacity: 0.5;
      color: $common-white;
    }
  }
}

.modal-header {
  height: 3em !important;
  padding: 35px 20px !important;
}
