/*
 * General styles
 */
@use "./variables" as variable;
body,
html,
#root {
  background-image: "#fff";
  background-repeat: no-repeat;
  background-size: cover;
  font-family: variable.$fontmain;
  font-size: variable.$base-size - 2px;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.btn {
  padding: 0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  i {
    font-size: variable.$base-size - 3px;
  }
}

.btn-edit,
.btn-add,
.btn-delete,
.btn-assign {
  background-color: variable.$colormain;
  color: variable.$common-text-color;
  &:hover {
    color: variable.$common-text-color;
    // background-color: darken(variable.$colormain, 5);
  }
}

#password:invalid {
  font-family: variable.$fontmain; // Fixed TH hien thi placeholder cho EDGE
}
#password:-webkit-input-placeholder {
  font-family: variable.$fontmain; // CHROME 1
}
#password::-webkit-input-placeholder {
  font-family: variable.$fontmain; //CHROME 2   EDGE 1
}
#password:-moz-placeholder {
  font-family: variable.$fontmain; // Firefox 4-18
}
#password::-moz-placeholder {
  font-family: variable.$fontmain; // Firefox 19+
}
#password:-ms-input-placeholder {
  font-family: variable.$fontmain; // IE 10-11
}
#password::-ms-input-placeholder {
  font-family: variable.$fontmain; // EDGE 2
}
#password::placeholder {
  font-family: variable.$fontmain;
}

.content-container {
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: variable.$base-size + 4px;
    margin-top: 15px;
    color: variable.$colormain;
  }
  .content {
    margin: 15px 30px;
    box-shadow: 2px 2px 4px 0 variable.$box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 variable.$box-shadow-color;
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        padding: 0 10px;
        height: 35px;
        background-color: variable.$colormain;
        color: variable.$common-text-color;
        .modal-title {
          line-height: 35px;
          font-weight: 500;
          font-size: variable.$base-size + 1px;
        }
        .btn-close {
          position: absolute;
          color: variable.$common-text-color;
          i {
            line-height: 35px;
            font-size: variable.$base-size + 2px;
          }
        }
      }
    }
  }
}
